*{
	padding: 0;
	margin: 0;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
.box{
	width:  1560px;
	/*height: 1090px;*/
	height: 2000px;
	margin: 0 auto;	
}
.head-wrapper{
	height: 30px;
	background-color: #f4f4f4;
	border-bottom: 1px solid #ececec;
}
.head{	
	width: 1200px;
	height: 30px;
	margin: 0 auto;
	border-top: 0px;
	background-color: #f4f4f4;	
	line-height: 30px; 
}
.head img{
	float: left;
}
.head p{
	margin-right: 11px; 
	font-size: 12px;
	float: left;
}
.head a{
	color: #000;
} 
.headp{
	margin-left: 708px;
}
.heada{
	margin-left: -7px;
}
#plast{
	line-height: 31px; 
	margin-left: -6px; 
}
.nav{
	width: 1200px;
	height: 156px;
	margin: 0 auto;
	position: relative;
}
.navpic{
	margin-top: 21px;
}
.nav li{
	float: left;
}
.nav ul li input{
	border: 0px;
	width: 405px;
	height: 100%;
	float: left;

}
#button1{
	font-size: 16px;
	color: #fff;
	width: 91px;
	height: 100%;
	background-color: #e00304;
	text-align: center; 
	float: right;
}
.text1{
	width: 500px;
	height: 36px;
	border: 2px solid #e00304;
	margin-left: 200px; 
	margin-top: 39px; 	
}
.text1 input:first-child{
	text-indent: 16px;
	font-size: 14px;
	color: #bcbcbc;
} 
.shopping{
	width: 148px;
	height: 38px;
	background-color: #f4f4f4;
	border: 1px solid #ececec;
	line-height: 38px;
	margin-left: 150px;
	margin-top: 39px; 
}
.shopping img{
	float: left;
	margin-left: 25px; 
}
.shopping a{
	margin-left: 6px; 
	color: #5a5a5a;
}
.shopping a span{
	color: #f14e4e;
}
#button2{
	float: left;
	width: 100px;
	height: 100%;
	font-size: 14px;
	color: #000;
	background-color: #f4f4f4;

}
.list{
	font-size: 16px;
	margin-bottom: 11px; 
	margin-right: 72px;
	width: 89px;
	height: 33px;
}
/*.nav1{
	position: absolute;
	left: 0px;
	bottom: 10px;
}*/
/*.nav1 li{
	margin-right:78px; 
}
.nav1 li:first-child{
	margin-left: 30px;
}
.nav1 li a{
	color: #333333;
}
.nav1 a{
	margin-bottom: 11px; 
}*/
.li-head{
	width: 600px;
	height: 38px;
	line-height: 38px;
	position: absolute;
	bottom: 2px;
	left: 3px;
}
.li-head li{
	margin-right: 90px; 
}
.li-head a{
	color: #333;
}
#love{
	width: 89px;
	height: 33px;
	background-color: #fd0304;
	text-align: center;
	line-height: 33px;
	margin-bottom: 3px; 
	border-radius: 10%;	
}
.main-wrapper{
	height: 652px;
	background-color: #fbfbfb;
}
.up-wrapper{
	height: 67px;
	border-top: 3px solid #e00304;
}
.up{
	width: 1200px;
	height: 67px;
	line-height: 67px;
	margin: 0 auto;

}
.up p{
	font-size: 14px;
	float: left;
	background-color: #fbfbfb;
}
.center{
	width: 1200px;
	height: 582px;
	margin: 0 auto;
	background-color: #fbfbfb;
	position: relative;
}
#firli{
	width: 215px;
	height: 43px;
	background-color: #fff;
	line-height: 43px;
	position: absolute;
	top :0px;
	left: 0px;
}
#firli img{

	float: left;
	margin-left: 32px; 
}
#firli p{
	color: #000;
	float: left;
	font-size: 16px;
	margin-top: 2px;
	margin-left: 25px;  
}
#secli{
	width: 215px;
	height: 510px;
	background-color: #fff;
	margin-top: 10px; 
	position: absolute;
	top:45px;
	left: 0px;

} 
#secli p{
	font-size: 14px;
	margin-left: 77px;
	color: #000;

}
#secli a:first-child p{
	color: #ff2c18;
	margin-top: 18px;
	margin-bottom: 15px;  
}
.ctrpic{
	width: 973px;
	height: 565px;
	background-color: #fff;
	margin-top: 0px; 
	position: absolute;
	top: 0px;
	left: 227px;
}
.ctrpic li{
	width: 220px;
	height: 251px;
	border: 1px solid #dbdbdb;
	margin-left: 18px;
	text-align: center; 
	float: left;
	margin-top: 17px;
}
.ctrpic li:first-child{
	

}
.bottom-wrapper{
	height: 248px;
	background-color: #2e2e2e;

}
.bottom{
	width: 1176px;
	height: 150px;
	margin: 0 auto;
	background-color: #2e2e2e;
	border-bottom: 1px solid #454545; 
}
.bottom li{
	/*float: left;*/
	display: inline-block;
}
.bottom a{
	color: #fff;
}
.li1{
	width: 65px;
	height: 150px;
	float: left;
}
.li1 li{
	margin-top: 14px;  
}
.li2{
	margin-left: 199px; 
	width: 98px;
	height: 150px;
	float: left;
}
.li2 li{
	margin-top: 14px;
}
.li3{
	margin-left: 177px; 
	width: 80px;
	height: 150px;
	float: left;
}
.li3 li{
	margin-top: 14px;
}
.li4{
	margin-left: 190px;
	width: 96px;
	height: 150px;
	float: left;
}
.li4 li{
	margin-top: 14px;
}
.li5{
	/*margin-left: 189px;*/
	margin-left: 171px; 
	width: 100px;
	height:150px;
	float: left; 
}
.li5 li{
	margin-top: 14px;
}
.bottom-down{
	width: 800px;
	height: 97px;
	margin: 0 auto
}
.bot1{
	margin-top: 27px;  
	width: 550px;
	height: 20px;
	margin: 0 auto;
}
.bot1 li{
	margin-bottom: 1px; 
}
.bot2{
	width: 500px;
	height: 30px;
	margin: 0 auto;
}
.bot2 p{
	float: left;
}
.bottom-down a{
	margin-right: 9px; 
	font-size: 14px;
	color: #9e9e9e;
	float: left;
}
.bottom-down p{
	margin-right: 13px; 
	color: #a4a4a4;
	float: left;
}
.bottom-down span{
	font-size: 14px;
/*	margin-right: 0px; */
	color: #a4a4a4;
	/*float: left;*/
}
.picp1{
	font-size: 16px;
	color: #a3a3a3;
	margin-bottom: 14px; 
}
.picp2{
	font-size: 15px;
	color: #333;
}